<div class="container">
	<h2><%= @poem.title %></h2>
	<div class="well"><%= raw @poem.body%></div>
	
	<h5>-<%= @poem.user.first_name%></h5>
	<h2>Comments</h2>
	<% @poem.comments.each do |comment| %>

	<div class="media">
		<div class="media-body">
			<h4 class="media-heading"><%= comment.user.first_name%></h4>
			<%= comment.body %>
			<%if user_signed_in? %>
				<%if comment.user_id == current_user.id %>
					<%= link_to 'Destroy Comment', [comment.poem, comment],
              		 method: :delete,
               		 data: { confirm: 'Are you sure?' } %>
				<% end %>
			
			<%end%>
		</div>
	</div>
	<% end %>
	<% if user_signed_in? %>
	<h2>Add a comment:</h2>
	<%= simple_form_for([@poem, @poem.comments.build]) do |f| %>
	<%= f.input :body,label: "Body"%>
	<%= f.button :submit%>
	<% end %>
	<% if @poem.user_id == current_user.id %>
	<%= link_to "Edit", edit_poem_path(@poem)%>
	<%= link_to "Delete", poem_path(@poem), method: :delete,data:{confirm: 'Are you sure?'}%>
	<%end%>
	<%end%>
	
</div>