<div class="container">
	<h2><%= @poem.title %></h2>
	<div class="well"><%= raw @poem.body%></div>
	
	<h4><%= @poem.user.first_name%></h4>
	<%if user_signed_in?%>
			<% if @poem.user_id == current_user.id %>
				<%= link_to "Edit", edit_poem_path(@poem)%>
				<%= link_to "Delete", poem_path(@poem), method: :delete,data:{confirm: 'are you sure?'}%>
			<%end%>					
	<%end%>
	
</div>