<div class="container">
	<h2><%= @poem.title %></h2>
	<%= @poem.user.first_name%>
	<div class="well"><%= simple_format(@poem.body)%></div>
	
	
	<%= link_to like_poem_path(@poem), method: :put do %>
	<span class="glyphicon glyphicon-thumbs-up"></span>
	<%= @poem.get_upvotes.size %>
	<%= link_to dislike_poem_path(@poem), method: :put do %>
	<span class="glyphicon glyphicon-thumbs-down"></span>
	<%= @poem.get_downvotes.size %>
	<% end %>
	<% end %>
	<h2>Comments</h2>
	<%= simple_form_for([@poem, @poems.comments.build]) do |f| %>
	<%= f.input :body,label: "Comment"%>
	<%= f.button :submit%>
	<% end %>
	<br>
	<div class="row">
	<% @poem.comments.each do |comment| %>
		<div class="col-sm-8">
			<div class="panel panel-default">
				<div class="panel-heading">

					<div class="pull-left"><strong><%= comment.user.first_name%></h4></strong> <span class="text-muted">commented <%= time_ago_in_words(comment.created_at)%> ago </span></div>

					<div class="pull-right">
						asdasd
					</div>
					
				</div>
				<div class="panel-body">
					<%= comment.body %>
				</div>
			</div>
		</div>
	<% end %>
	</div>
			<% if user_signed_in? %>
				<% if @poem.user_id == current_user.id %>
				<%= link_to "Edit", edit_poem_path(@poem)%>
				<%= link_to "Delete", poem_path(@poem), method: :delete,data:{confirm: 'Are you sure?'}%>
				<%end%>
			<%end%>
			
		</div>