<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
					<div class="panel-heading">Name</div>
					<div class="panel-body">
						<%= @user.first_name%> <%= @user.last_name%> 
					</div>
					<div class="panel-heading">Email</div>
					<div class="panel-body">
						<%= @user.email%>
					</div>
			</div>
		</div>
		<div class="col-md-8">
			<%@user.poems.each do |poem|%>
				<div class="panel panel-default">
					<div class="panel-heading"><h3><%= poem.title%></h3></div>
					<div class="panel-body">
						<%= raw poem.body%><br>
						<button class="btn btn-primary" type="button">
  							Comments <span class="badge"><%= poem.comments.count%></span>
						</button>
						<button class="btn btn-primary" type="button">
  							Likes <span class="badge"><%= poem.get_upvotes.size%></span>
						</button>
						<button class="btn btn-primary" type="button">
  							Dislikes<span class="badge"><%= poem.get_downvotes.size%></span>
						</button>
						
					</div>
				</div>
			<% end%>
		</div>
	</div>
	
</div>